{{braintree-connect-button onError=(action 'onError') connectUrl=connectUrl}}

<form>
    {{braintree-dropin
      token=token
      onReady=(action 'onReady')
      onSubmit=(action 'onSubmit')
      onError=(action 'onError')
    }}
    <button type="submit">Submit</button>
</form>
